<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/secure-kw.css"}}" />
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {{ghost_head}}
</head>
<body class="{{body_class}}">


<div class="securekw_page">
    {{{body}}}
</div>

    
    


 


{{ghost_foot}}

</body>

    <script>
        $(document).ready(function() {
            $('.full-width-image-2').css('background-image', 'url("/assets/images/banner-img.jpg") ');
            $('.overlay').hide().fadeIn(1000);
        });
    </script>

</html>                                     